@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
*{
    margin: 0;
    padding: 0;
  }
  
  html{
  scroll-behavior: smooth;
  }
  
  .navbar{
      display: flex;
      justify-content: center;
      height: 50px;
      align-items: center;
      position: sticky;
      top: 0;
      background-color: rgba(0,0,0,0.5); 
  }
  
  .navbar::before{
      content: "";
      position: absolute;
      height: 100px;
      width: 100px;
      z-index: -1;
  }
  
  .navbar ul{
      display: flex;
      list-style: none;
  }
  
  .navbar ul li{
      font-size: 1.1rem;
  }
  
  .navbar ul li a{
      padding: 5px 20px;
      text-decoration: none;
      color: whitesmoke;
  }
  
  .navbar ul li a:hover{
      border-bottom: 2px solid beige;
  }
  
  
  #home{
      display: flex;
      flex-direction: column;
      height: 650px;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0,0.5);
      color: whitesmoke;
      
  }
  
  #home::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: url("../images/Sirenik.jpg") no-repeat center center/cover;
      height: 700px;
      width: 100%;
      z-index: -1;
      opacity: .7;   
  }
  
.active 
{

    color: whitesmoke;
    font-size: 1.5rem;
    font-family: 'Libre Baskerville', serif;
    transform: scale(1,1.3);
    text-align: center;
    align-items: flex-end;
    margin-bottom: -400px;

}
#container{
      display: flex;
      background-color: #000000dc;
  }
 
    .card{
    background: beige;
    width: 400px;
    height: 750px;
    margin: 50px;
    border-radius: 15px;
    text-align: center;
    margin-top: 200px;
    
    
    }
    
    .card-image{
    background-color: aqua;
    height: 400px;
    margin-bottom: 10px;
    background-size: cover;
    border-radius: 15px 15px 0 0;

    }
    
    .car-1{
    background-image: url("../images/1.jpg");
    }
    .car-2{
    background-image: url("../images/cath2.jpg");
   
    }
    .car-3{
    background-image: url("../images/camasura3.jpg");
    }
    
    .card p{
    padding: 10px;
    font-size: 15px;
    }
    
    .card h2{
    padding: 10px;
    }
    
    .card:hover{
    background: rgba(62, 62, 62);
    color: white;
    cursor: pointer;
    transform: sclae(1.03);
    transition: all 1s ease;
    }
  
  
  #Activity {
    display: flex;
    flex-direction: column;
    background-color: #000000dc;
  }
  
  #Activity .head2{
      margin-top: 60px;
      text-align: center;
      color: white;
      font-size: 3rem;
  }
  
  .B{
      display: flex;
      justify-content: center;
      margin-top: 120px;
      align-items: center;
      position: sticky;
  }
  
  .B::before{
      content: "";
      position: absolute;
      height: 100px;
      width: 100px;
      z-index: -1;
  }
  
  .B ul{
      display: flex;
      list-style: none;
  }
  
  .B ul li{
      font-size: 2rem;
      font-family: 'Poppin', sans-serif;
  }
  
  .B ul li a{
      padding: 5px 20px;
      text-decoration: none;
      color: #F0FFFF;
      letter-spacing: .05em;
  }
  
  .B ul li a:hover{
      border-bottom: 2px solid beige;
      letter-spacing: .20em;
  }

  #portfolio{
    display: flex;
    flex-direction: column;
    background-color: #000000dc;
}

#portfolio .head4{
    margin-top: 60px;
      text-align: center;
      color: white;
      font-size: 3rem;
}

.gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery img{
    width: 500px;
    height: 630px;
    padding: 10px;
    margin: 10px;
}

.gallery img:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
  
  #contact{
     display: flex;
     flex-direction: column;
     background-color: #000000dc;
  }
  
  #contact .head3{
     margin: 50px;
     text-align: center;
     color: white;
     font-size: 3rem;
  }
  
  .form{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
  }
  
  .input{
     padding: 15px 20px;
     margin: 15px;
     width: 40%;
     border: none;
     outline: none;
     border-radius: 25px;
  }
  
  #message{
     margin: 15px;
     padding: 10px;
     border-radius: 20px;
  }
  
  #submit{
     padding: 15px 20px;
     margin: 30px;
     width: 15%;
     border-radius: 20px;
     background-color: #000000dc;
     color: white;
     border: none;
     outline: none;
  }
  
  #submit:hover{
     background-color: green;
     color: white;
     cursor: pointer;
  }

    #contact social-menu ul{
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        transform: translate(-50%, -50%);
        display: flex;
        text-align: center;
    }

    .social-menu ul li{
        list-style: none;
        margin: 0 15px;
    }
